@charset "UTF-8";

/* VARIABLES */

:root {
  /* Colors */
  /* --bg-light-blue: #797d8b; */
  --bg-light-blue: hsl(227, 100%, 95%);
  --bg-light-blue-hover: hsl(227, 100%, 88%);
  --bg-medium-blue: hsl(228, 100%, 66%);
  --bg-medium-blue-hover: hsl(228, 100%, 75%);
  --bg: hsla(228, 100%, 66%, 1);
  --bg-dark-blue: #343a51;
  --bg-dark: #262a3b;
  --bg-gray: #757c95;
  --bg-orange: #f05c5c;
  --bg-offwhite: #f2f2f2;
  --bg-white: #ffffff;
  --bg-white-hover: #e8e8e8;

  /* Measurements */
  --footer-size: 78em;
}

/* HTML STYLES */

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg-offwhite);
  font-family: "Kumbh Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: inherit;
}

header {
  text-align: center;
  padding-top: 2.875em;
}

h1 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

/* LINK STYLES */
button:link,
button:visited {
  background-color: var(--bg-medium-blue);
  color: var(--bg-white);
}
button:focus,
button:hover,
button:active {
  background-color: var(--bg-medium-blue-hover);
  color: var(--bg-white);
}

/* Default Button Style */
button {
  background-color: var(--bg-medium-blue);
  color: var(--bg-white);
  font-weight: 700;
  border: none;
  border-radius: 2em;
  padding: 1em 2.5em;
  cursor: pointer;
}

.btn-medium {
  background-color: var(--bg-light-blue);
  color: var(--bg-medium-blue);
}

/* Medium Button Style */
.btn-medium:link,
.btn-medium:visited {
  background-color: var(--bg-light-blue);
  color: var(--bg-medium-blue);
}
.btn-medium:focus,
.btn-medium:hover,
.btn-medium:active {
  background-color: var(--bg-light-blue-hover);
  color: var(--bg-medium-blue);
}

/* Light Button Style */
.btn-light {
  background-color: var(--bg-white);
  color: var(--bg-medium-blue);
}

.btn-light:link,
.btn-light:visited {
  background-color: var(--bg-white);
  color: var(--bg-medium-blue);
}
.btn-light:focus,
.btn-light:hover,
.btn-light:active {
  background-color: var(--bg-white-hover);
  color: var(--bg-medium-blue);
}

/* CUSTOM STYLES */

#root {
  background: url(../assets/home/bg-pattern-header.svg) top -170px center no-repeat;
  background-size: 122vw;
  position: relative;
}

/* HEADER */

.img-wrapper {
  width: 100%;
}

.img-wrapper img {
  margin: 0 auto;
}

.logo {
  margin-bottom: 5em;
}

.chart-img img {
  width: 171px;
}

/* MAIN */

main {
  padding: 0 1.5rem 6.25rem;
  text-align: center;
}

main::after {
  content: "";
  background: url(../assets/home/bg-pattern-footer.svg) bottom -110px center no-repeat;
  background-size: 1202px;
  background-color: var(--bg-dark);
  width: 100%;
  height: var(--footer-size);
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* PRICING CARDS */

.pricing-card {
  background-color: var(--bg-white);
  border-radius: 0.5em;
  padding: 2.5em;
  margin-bottom: 2em;
}

.pricing-card:nth-child(2) {
  background: url(../assets/home/bg-pattern-pricing.svg) bottom center no-repeat;
  background-size: 880px;
  background-color: var(--bg-medium-blue);
  color: var(--bg-white);
}

.pricing-card h2 {
  margin: 0;
  font-size: 1.25rem;
  margin-bottom: 2em;
}

.pricing-card .tier-description {
  margin: 0;
}

.pricing-card h3 {
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
}

.pricing-card ul {
  margin: 3.5em 0 2em;
  line-height: 1.75em;
}

.pricing-card li {
  margin-bottom: 1em;
}

/* TIMER STYLES */

.timer p {
  color: var(--bg-white);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

.timer .date {
  color: var(--bg-medium-blue);
}

.time-elements {
  display: flex;
  justify-content: center;
  gap: 0.8em;
}

.time-element {
  background-color: var(--bg-dark-blue);
  color: var(--bg-gray);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: lowercase;
}

.time-unit {
  color: var(--bg-white);
  font-size: 2rem;
}
